DEBUG=1

#POSTGRES
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_NAME=realtime

#REDIS
REDIS_USER=default
REDIS_PASSWORD=default
REDIS_HOST=localhost
REDIS_PORT=6379

#PORTS
POST_SERVICE_PORT=8081
COMMENT_SERVICE_PORT=8082
CONNECTION_SERVICE_PORT_1=8083
CONNECTION_SERVICE_PORT_2=8084

