DEBUG=

#POSTGRES
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_NAME=

#REDIS
REDIS_USER=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=

#RABBIT
RABBIT_USER=
RABBIT_PASSWORD=
RABBIT_HOST=
RABBIT_PORT=

#PORTS
POST_SERVICE_PORT=
COMMENT_SERVICE_PORT=

